@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800&display=swap');

html,body{font-family: 'Orbitron', sans-serif; color: #333;}

/*container*/
.container{width: 100%; display: flex; justify-content: flex-end;}

/*header*/
.header{width: 370px; position: fixed; left: 0; top: 0; height: 100%;
 background: linear-gradient(25deg,rgb(0, 150, 37),rgb(182, 255, 251)); color: #fff;
 display: flex; flex-wrap: wrap; display: flex; flex-direction: column;
 justify-content: space-between; box-sizing: border-box; padding: 20vh 2vw 10vh 2vw;}
/*.title{}*/
.title>p:nth-child(1){font-size: 46px; font-weight: 600; width: 90%;}
.title>p:nth-child(1)::after{content: ""; display: block; width: 50%; border-top: 3px solid #fff;
 margin: 15px 0;}
.title>p:nth-child(2){margin-top: 10px; color: rgba(255,255,255,0.7); }
.sns{display: flex; }
.sns>li{margin-right: 10px;}
.sns>li i{margin-right: 5px;}
.sns span{font-size: 14px;}


/*right*/
.right{width: calc(100% - 370px); box-sizing: border-box; padding: 30px;
  background-color: #e9fff0;}
.btns{display: flex; justify-content: flex-end; margin: 20px 0;}
.btns>li{width: 100px; line-height: 26px; background: #fff; text-align: center; 
 border-radius: 4px; margin-left: 15px; color: #999; font-size: 10px; 
 box-shadow: 0 0 10px rgba(0,0,0,0.1); cursor: pointer;}
.btns>li.active{background: linear-gradient(10deg,rgb(0, 141, 63),rgb(208, 255, 120)); color: #fff;
box-shadow: 0 5px 15px rgba(0, 139, 30, 0.5);}

/*contents*/
.contents{padding: 15px 0; display: flex; flex-wrap: wrap;}
.conbox{width: 20%; padding: 5px; box-sizing: border-box; margin-bottom: 10px;}
.inner{background-color: #fff; border-radius: 3px; padding: 15px; box-sizing: border-box;}
.inner img{width: 100%;}
.inner p:nth-of-type(1){line-height: 200%; font-weight: bold; font-size: 13px;}
.inner p:nth-of-type(2){font-size: 10px; color: #999;}



/**/




/**/





/*미디어쿼리*/
@media all and (max-width:540px){
 .conbox{width: 100%;}
}

@media all and (min-width:541px) and (max-width:680px){
 .conbox{width: 50%;}
}

@media all and (min-width:681px) and (max-width:900px){
 .conbox{width: 33%;}
}
/* !important*/

@media all and (min-width:901px) and (max-width:1200px){
 .conbox{width: 25%;}
}

@media all and (max-width:1200px){
 .container{flex-direction: column;}
 .header{position: static; width: 100%; height: 80px; padding: 0 2vw; 
  flex-direction: row; justify-content: space-between; align-items: center;}
 .title p:nth-child(1){width: auto; font-size: 20px;}
 .title p:nth-child(1)::after{display: none;}
 .title p:nth-child(2){display: none;}
 .sns{font-size: 20px;}
 .sns span{display: none;}
 .right{width: 100%;}


}

@media all and (min-width:1201px) and (max-width:1599px){
 .header{width: 300px;}
 .sns{font-size: 14px;}
 .right{width: calc(100% - 300px);}
 .conbox{width: 25%;}


}

@media all and (min-width:1600px){



}






